body {
    max-width: 768px;
    /*margin: 20px 5px;*/
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 3px 0;
}

label, span, table {
    font-family: sans-serif;
}

section {
    margin: 5px 0;
}

table th {
    text-align: right;
}

* {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-section {
    background-color: #BBEBF9;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px 0;
}
.footer-section {
    text-align: center;
}

.search-section-outer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.search-section-inner {
    display: inline-block;
    margin: 10px 0;
}
.add-todo-section > .add-todo-table {
    margin:0 auto;
    padding-bottom: 20px;
}
/* Todos */
.todo-section {
    margin: 0 5px;
}
.todo-item {
    border-bottom: 1px #DEF8FF solid;
    padding: 5px 5px;
    display: table;
    width: 100%;
}
.todo-item > .todo-item-info {
    display: table-cell;
}
.todo-item > .todo-item-edit {
    display: table-cell;
    text-align: right;
}

.todo-item:hover {
    background-color: #DEF8FF;
}
.todo-item-title {
    font-weight: bold;
    padding: 10px 0;
}
.todo-item-detail {
    display: none;
    padding: 2px 8px;
}

/* Miscellaneous */
.text-middle {
    text-align: center;
}
.text-underline {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 374px) {
    .header-section {
        border-radius: 0;
    }
    .btn {
        padding: 3px 6px;
    }
}
@media (min-width: 375px) {
    .btn {
        padding: 5px 10px;
    }
}
@media (min-width: 768px) {
    .todo-item-detail {
        display: block;
    }
    /*.todo-item > .todo-item-edit button {*/
    .btn {
        padding: 10px 20px;
    }
}
